@font-face {
    font-family: veles;
    src: url('../fonts/veles.otf');
}

body {
    background-image: url(../images/background.png);
    -moz-background-image: url(../images/background.png);
    -o-background-image: url(../images/background.png);
    -webkit-background-image: url(../images/background.png);
    max-width: 95vw;
}

header {
    margin-left: 3rem !important;
    max-width: 100%;
    align-self: center;
}

/* logo */

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo_image {
    width: 25px;
    margin-right: 10px;
}

.logo_text {
    font-family: veles, serif;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: center;
    align-self: center;
    color: #40475F;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 5rem;
    align-items: center;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.nav-link {
    display:block;
    padding:.5rem 1rem;
    color: #000;
    font-size: 1.1rem;
    font-family: veles, serif;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}

.nav-link:focus {
    color: #000;
}

.main_text {
    font-family: veles, serif;
    font-size: 36px;
}

@media (max-width: 860px) {
    .main_text {
        font-size: 22px;
    }
}

/* footer */

.footer__text {
    font-family: veles, serif;
    font-size: 22px;
}

@media (max-width: 860px) {
    .footer__text {
        font-size: 12px;
    }
}

/* btn */

.btn-primary{
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    margin-top: 10px;
}
.btn-primary:hover{
    background-color: #ad9a86;
    border-color: #ad9a86;
    color: black;
}

.btn-primary:disabled{
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
}

/* input */

.text {
    font-family: veles, serif;
    color: #000;
}

.card {
    background-color: transparent;
}

.list-group-item {
    margin-left: 10px;
    background-color: transparent;
}

.task_info {
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.card_list {
    border-right-width: 0;
    border-left-width: 0;
}
